body {
    background-color: #910808;
}
/*
Purple: #915d96
Blue: #4680e3
Green: #4bbd6d
*/
h1 {
    color: white;
    font-size: 1.8em;
    font-weight: 200;
    font-family: 'Georgia', serif;
}

p {
    color: white;
    font-family: 'Courier', monospace;
}

.map-window{
    width:80%;
    height:500px;
    border:solid;
    border-radius:0.75cm;
    border-width: 1ch;
    border-color: white;
}


.map-window:hover {
    border-color: #ebc1a2;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: white;
}

a.button {
    color: white;
    border-color: white;
    font-family: 'EB Garamond';
    font-size: 3em
}

/* a.button:hover {
    color: #ebc1a2;
    border-color: #ebc1a2;
    font-family: 'Luminari', fantasy;
    font-size: 3em
} */


/* CSS */
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: center;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}